# ignore virtualenvs and env files
venv
env
*env*

#Ignore the tests folder and dev dependencies
requirements.dev.txt
tests
pytest.ini
.pytest_cache

# ignore .git, .github, and .cache folders
.git
.cache
.github

# ignore all markdown files (md) and licenses
*.md
LICENSE

#  ignore py caches
__pycache__
*.pyc
*.pyo
*.pyd

# ignore shell scripts, right now we don't have any we need in the container
*.sh

# Ignore pre-commit dependencies
.pre-commit-config.yaml
.flake8.cfg
